{% extends "base.html" %}
{% block content %}
    <div class="row blog-post">
        <div class="col-md-2 col-sm-3 text-center">
            <a class="story-img" href="#">
                 {% if post.image %}
                <img class="img-blogpost img-circle" src="/media/{{ post.image }}">
                {% endif %}
            </a>
            <p><span class="boldtext">Author: </span> {{ post.user}}</p>
        </div>
        <div class="col-md-10 col-sm-9">
            <h3>{{ post.title }}</h3>
            <div class="row">
                <div class="col-xs-9">
                    <p>{{ post.content }}</p>
                    <p><span class="boldtext">Published on:</span> {{ post.published_date }} </p>
                    <p><span class="boldtext">Views:</span> {{post.views}}</p>
                    <p><span class="boldtext">Tag:</span> {{ post.tag }}</p>
                        <a href="{% url 'get_posts' %}" class="btn btn-sm btn btn-danger">Back To Blog</a>
                    {% if request.user.is_staff %}
                        <a href="{% url 'edit_post' post.id %}" class="btn btn-sm btn btn-info">Edit Post</a>
                    {% else %}
                    {% endif %}
                        <a href="{% url 'post_comment' post.pk %}" class="btn btn-sm btn btn-warning">Add Comment</a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
<h1>Leave a Comment</h1>
<div class = "row">
<div class = "col-sm-offset-1">Total Number of Comments  {{ post.comments.count }}</div>
</div>
{% for comment in post.comments.all %}
    <div class= "row blog-comment">
        <div class ="row">
            <div class="col-sm-2 pub_date"><h5 class="text-right">Comment Published Date:</h5></div>
            <div class= "col-sm-2 pub_date"><h5 class = "text-left text-muted">{{ comment.created_date }}</h5></div>
            <div class="col-sm-2 text-right"><h5>Published by: </h5></div>
            <div class = "col-sm-2 text-left"><h5><strong>{{ comment.author }}</strong></h5></div>
        </div>
        <div class = "row item_comment_para">
            <div class = "col-sm-12 col-sm-offset-1"><p>{{ comment.text|linebreaks }}</p></div>
        </div>
    </div>
    <hr>
{% empty %}
    <p>No comments here yet :(</p>
</section>
{% endfor %}  

{% endblock %}