{% extends 'base.html' %}
{% block page_title %}Issue Tracker{% endblock %}
{% block page_heading %}Home Page{% endblock %}
{% block content %}
 <div class="container-fluid callout-container">
    <div class="opaque-overlay">&nbsp;</div>
        <!-- Callout -->
        <div class="row">
            <div class="col-xs-12">
                <section class="callout jumbotron text-center">
                    <h1 class ="brand-name" id="brand-name">Bug Issue Tracker Solutions</h1>
                        <h2 class = "brand-text">For all your buggin' problems</h2>
                            <hr class='block-divider block-divider--orange'>
                            <p class="lead text-uppercase">No bug problem too trivial nor too complex. <span class="visible-xs"><br></span> <mark>All bugs fixed for free!</mark></p><br>
                            <p class="lead text-uppercase"><mark>For a Reasonable Fee!</mark> We also develop features <br></p><br>
                              {% if user.is_authenticated %}
                            <p><a href="{% url 'issues_list' %}"><button class="btn btn-lg btn--cta btn--info">View Tracker</button></a></p>
                            <p class = "lead"><medium>Feel free to create and comment on bugs and features</medium></p>
                              {% else %}
                            <p> <a href="{% url 'registration' %}"><button class="btn btn-lg btn--cta btn--blue" data-toggle='modal' data-target='#signUpModal'>Sign up!</button></a></p>
                            <p class="lead"><medium>You must sign up or login to contribute to bugs and features</medium></p>
                              {% endif %} 
                </section>
            </div>
        </div>
</div>
 <div class="container-wrapper our-promise">
    <div class="container quotes-container content-container">
        <!-- Quotes -->
        <section class="quotes">
            <div class="row quotes">
                <div class="col-xs-12">
                    <div class="page-header">
                        <h2 class="text-uppercase commitment text-center">Our Promise:</h2>
                            <hr class="block-divider block-divider--short">
                    </div>
                </div>
            </div>
            <div class="row quotes">
                <div class="col-xs-12 col-sm-6">
                    <div class="media">
                        <div class="media-body">
                            <blockquote class="quote">
                                <h3 class = "text-center">To spend up to 50 percent of our time dedicated to solving the highest upvoted bug issues for free.</h3>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="media">
                        <div class="media-body">
                            <blockquote class="quote">
                                <h3 class = "text-center">To spend at least 50 percent of our time dedicated to creating the highest upvoted feature for a modest fee per upvote.</h3>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
     <!-- Existing and planned Features -->
<section class = "features">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h2 class="text-uppercase feature-header text-center">Features:</h2>
                    <hr class="block-divider block-divider--short block-divider--white">
            </div>
        </div>
    </div>
    <div class="row" id= "feature-summary">
        <div class="col-xs-12 col-sm-6">
            <div class="feature">
                <h3 class= "current-features"><span class="glyphicon glyphicon-th-list hidden-xs"></span> Current</h3>
                    <ul class="list-style para-features">
                          <li>user friendly environment for users to submit, view and comment on issues</li>
                          <li>transparency through the issue of  realtime data in an easy to analyse format, including tables and charts.</li>
                          <li>user community prioritises the issues to be dealt with</li>
                          <li>cloud based ensuring real time collaboration</li>
                    </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="feature">
                <h3 class="planned-features"><span class="glyphicon glyphicon-tasks hidden-xs"></span> Planned</h3>
                     <ul class="list-style para-features">
                          <li>advanced notification:Provide notifications on projects, issues assigned, status changes, due dates.</li>
                          <li>issue identification to prevent repeated actions like personnel assignement, notifications and attachments</li>
                          <li>instant reporting allowing the creation of executive-ready status reports with the push of a button. Reports as a PDF, Word or Excel file.</li>
                          <li>email support When you have complex questions, you can get detailed answers via our email support system</li>
                      </ul>
            </div>
        </div>
    </div>
</section>
    {% endblock %}