{% extends 'base.html' %}
{% block page_title %}Issue Tracker{% endblock %}
{% block page_heading %}Home Page{% endblock %}
{% block content %}
<div class = "row tracker-header text-center"><h1>Issues Tracker List</h1></div>

<table id ="table_id" class = "table table-bordered table-responsive">
        <thead class = "table thead-dark">
             <tr class="text-center">
                <td>Name</td>
                <td>Content</td>
                <td>Submitted by</td>
                <td>Category</td>
                <td>Created on</td>
                <td>Upvotes</td>
                <td>Status</td>
                <td>Assigned to</td>
                <td>Completed on</td>
                <td>Comments</td>
             </tr>
        </thead>
        <tbody>
             {% for item in items %}
            <!--provide bacground color to represent status-->
                {% if item.status == "Completed" %}
            <tr class = "text-center success">
                {% elif item.status == "Ongoing" %}
            <tr class = "text-center warning">  
                {% elif item.status == "Pending" %}
            <tr class = "text-center danger">
                {% endif %}
                    <td>{{ item.name }}</td>
                    <td>{{ item.content }}</td>
                    <td>{{ item.submitted_by }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.created_date }}</td>
                    <td>{{ item.upvotes }}</td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.assigned_to }}</td>
                    <td>{{ item.completed_date }}</td> 
                    <td>{{ item.comments }}</td>
                  
            </tr>
            {% endfor %}  
        </tbody>
           
    </table>
{% endblock %}