{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}Issue Detail{% endblock %}
{% block page_heading %}Issue{% endblock %}
{% block content %}
<section class = "tracker-issue-detail">
    <div class="panel panel-default">
        <div class = "row container-fluid">
            <div class = "col-xs-3">
                <h3>Title:</h3> 
            </div>
            <div class ="col-xs-9">
                <h3 class = "text-left text-muted">{{item.name}}</h3>
            </div>
        </div>
  <!-- Default panel contents -->
       <div class="panel-heading"><h4>Content</h4></div>
            <p class = "text-primary item-content">{{item.content}}</p><br>
                <ul class="list-group">
                    <li class="list-group-item text-primary">Progress Notes</li>
                    <li class="list-group-item text-secondary">{{item.progress}}</li>
                </ul>
  <!-- Table -->
        <table class="table table-bordered table-responsive">
            <thead class = "table thead-dark">
                <tr class="text-center text-primary">
                    <td>Category</td>
                    <td>Status</td>
                    <td>Upvotes</td>
                    <td>Total fees</td>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                    <td class = "text-secondary">{{ item.category }}</td>  
                    <td class = "text-secondary">{{ item.status }}</td>
                    <td class = "text-secondary">{{ item.upvotes }}</td>
                    {% if item.category == "Bug" %}
                    <td class = "text-secondary">{{ 0 }}</td>
                    {% else %}
                    <td class = "text-secondary">{{ item.fee }}</td>
                    {% endif %}
                </tr>
        </table><br>
    <hr>
        <div class="row container-fluid">  
            <div class="col-sm-4 col-xs-6 text-center">
                <a href="{% url 'issues_list' %}" class="btn btn-sm btn btn-info"><span class="glyphicon glyphicon-arrow-left" aria-hidden ="true"></span> Back To Tracker</a>
            </div>
            {% if item.status == "Completed" %}
            <form></form>
            {% else %}
            <div class="col-sm-4 col-xs-6 text-center">
               <p><a href="{% url 'issue_comment' item.id %}" class="btn btn-sm btn btn-warning">Add Comment</a></p>
            </div>
            {% endif %}
            <div class="col-sm-4 col-xs-12 text-center upvoting">
             {% if item.status == "Completed" %}
             <p></p>
             {% else %}
                 {% if item.category == "Bug" %}
                   <a href ="{% url 'upvote' item.id %}" class = "btn btn-sm btn-dark"><span class="glyphicon glyphicon-thumbs-up text-info" aria-hidden ="true"></span> Upvote</a>
                  {% else %}
                   <form class = "upvote-form" method="post" action="{% url 'add_to_cart' item.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name='upvote' type="number" min="1" max="999" value ="0" class="form-control" placeholder="Upvote quantity"><span class="input-group-btn">
                                <button class="btn btn-dark text-center" type="submit">Upvote</button>
                            </span>
                    </div>
                </form>
                {% endif %}
            {% endif %}
            </div>
            {% if item.status == "Completed" %}
             <p></p>
             {% else %}
            <div class = "col-xs-12 col-sm-6 col-sm-offset-6">
                <p class = "text-center">Cycle through the number selector to upvote or type upvotes into box. Cost is 50 euros per upvote</p>
            </div>
            {% endif %}
        </div>
    </div>
</section>
<section class = "issue-comment-section">
    {% if item.status == "Completed" %}
    <p></p>
    {% else %}
    <h1 class = "form-detail">Leave a Comment</h1>
     {% endif %}
    <div class ="row container-fluid">
        <div class="col-xs-6 col-sm-2"><h5>Original issue by:</h5></div>
        <div class= "col-xs-6 col-sm-3"><h5 class = "text-muted">{{ item.user }} {{item.created_date }}</h5></div>
    </div>
     <div class = "row container-fluid">   
        <div class="col-sm-3"><p>Total Number of Comments <strong><label class = "badge">{{ item.comments.count }}</label></strong></p></div>
    </div>
    {% for comment in item.comments.all %}
            {% if user.is_authenticated or comment.approved_comment %}
        <div class= "row container-fluid comment">
            <div class ="row container-fluid">
                {% if user.is_staff %}
                    {% if not comment.approved_comment %}
                    <a class="btn btn-default" href="{% url 'comment_remove' id=comment.id %}"><span class="glyphicon glyphicon-remove"></span></a>
                    <a class="btn btn-default" href="{% url 'comment_approve' id=comment.id %}"><span class="glyphicon glyphicon-ok"></span></a>
                    {% endif %}
                {% endif %}
                <div class= "col-xs-6 pub_date col-sm-2"><h5>Comment Published: </h5></div>
                <div class= "col-xs-6 col-sm-2"><h5 class = "text-muted">{{ comment.created_date }}</h5></div>
                <div class= "col-xs-6 col-sm-2"><h5>Published by: </h5></div>
                <div class= "col-xs-6 col-sm-2"><span class = "inline avatar-image"><img class = "img-circle avatar-image" alt = "user-avatar" src="/media/{{ comment.image }}"></span><span class = "inline"><h5 class = "comment-author"><strong>{{ comment.author }}</strong></h5></span></div>
            </div>
            <div class = "row container-fluid item_comment_para">
                <div class = "col-sm-11 col-sm-offset-1"><p>{{ comment.text|linebreaks }}</p></div>
            </div>
        </div>
        {% endif %}
        <hr>
    {% empty %}
    <p>No comments here yet :(</p>
</section>
    {% endfor %}  

{% endblock %}