{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}Issue Tracker{% endblock %}
{% block page_heading %}Comment Form{% endblock %}
{% block content %}
<h1>New Comment</h1>
        <form method="POST" class = "form-detail">
        <!--prevent cross site scripting-->
            {% csrf_token %}
        <!--use as_bootstrap to render as bootstrap style-->
            {{ form | as_bootstrap  }}
             <button class ="btn btn-light" type="submit">Submit</button>
        </form>
        <p></p>
        <a href="{% url 'issues_list' %}" class="btn btn-sm btn btn-info"><span class="glyphicon glyphicon-arrow-left" aria-hidden ="true"></span> Back to Tracker</a>
        <p></p>
{% endblock %}