{% extends 'base.html' %}
{% block page_title %}Issue Tracker{% endblock %}
{% block page_heading %}Home Page{% endblock %}
{% block content %}
<div class = "row tracker-header text-center"><h1>Issues Tracker List</h1></div>

<table id ="table_id" class = "table table-bordered table-responsive">
        <thead class = "table thead-dark">
            <!--<div class = "add-ticket-top"><a href="add"><button class ="btn btn-default"> Add a new item</button></a></div>-->
             <tr class="text-center">
                 <td class = "glyphicon glyphicon-pencil"></td>
                <td>Name</td>
                <td>Content</td>
                <td>Submitted by</td>
                <td>Category</td>
                <td>Created on</td>
                <td>Upvotes</td>
                <td>Status</td>
                <td>Assigned to</td>
                <td>Completed on</td>
                <td>Progress</td>
                <td class="glyphicon glyphicon-comment"></td>
             </tr>
        </thead>
        <tbody>
             {% for item in items %}
            <!--provide bacground color to represent status-->
                {% if item.status == "Completed" %}
            <tr class = "text-center success">
                {% elif item.status == "Ongoing" %}
            <tr class = "text-center warning">  
                {% elif item.status == "Pending" %}
            <tr class = "text-center danger">
                {% endif %}
                <!--provide edit link-->
                {% if user.is_staff %}
                    <td>
                      {% if item.status == "Completed" %}
                         <form></form>
                      {% else %}
                        <form method="GET" action="edit/{{ item.id }}">
                           <button type="submit"data-toggle="tooltip" title="Click on icon to edit!">
                               <span class="glyphicon glyphicon-pencil"></span>
                            </button>    
                        </form>
                      {% endif %}
                {% else %}
                <td></td>
                {% endif %}
                    </td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.content }}</td>
                    <td>{{ item.submitted_by }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.created_date }}</td>
                    <td>{{ item.upvotes }}</td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.assigned_to }}</td>
                    <td>{{ item.completed_date }}</td> 
                    <td>{{ item.progress }}</td>
                    <td>
                        {% if item.status == "Completed" %}
                         <form></form>
                      {% else %}
                         <form method="GET" action="comment/{{ comment.id }}">
                             <button type="submit"data-toggle="tooltip" title="Click on icon to add comment!">
                               <span class="glyphicon glyphicon-comment"></span>
                            </button>  
                        </form>
                      {% endif %}
                    </td>
            </tr>
            {% endfor %}  
        </tbody>
    </table>
    <script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
{% endblock %}