{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}Graphs{% endblock %}
{% block page_heading %}Charts{% endblock %}
{% block content %}
<!--========== Chart Section pie and Scatter ==========-->
    <section class="chart-section container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center"><h3>The charts below show the Distribution on categories to date, the Status on those categories and the Upvotes recieved to date</h3>
            </div>
        </div>
        <div class = "row">
            <div class="col-xs-12 col-sm-12 col-md-4 center-block" id="all_issues" class="custom-chart">
            </div>
             <div class="col-xs-12 col-sm-12 col-md-4 center-block" id="stack_status" class="custom-chart">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 center-block" id="upvote_status" class="custom-chart">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center"><h3>The charts below show the total amount of days spent working on issues (Completed) and (Ongoing) and the duration of Pending issues.</h3>
            </div>
        </div>
        <div class = "row">
            <div class="col-xs-12 col-sm-12 col-md-4 center-block" id="days_by_cat" class="custom-chart">
            </div>
             <div class="col-xs-12 col-sm-12 col-md-4 center-block" id="days_by_cat_ongoing" class="custom-chart">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 center-block" id="days_pending" class="custom-chart">
            </div>
        </div>
        <div class = "row">
            <div class = "col-sm-12 col-md-12 center-block">
                <h3 class = "text-center">The chart below shows the Percentage of Fees received for Features by Status</h3>
                <p class = text-center>(hover on slice for total fees in Euros)</p>
            </div>
        </div>
        <div class = "row">
            <div class="col-xs-12 col-sm-12 col-md-12 center-block" id="fee-pie-chart" class="custom-chart">
            </div>
        </div>
        <div class = "col-sm-12 col-md-12 center-block">
                <h3 class = "text-center">The charts below show the ratio of bugs and features completed and ongoing respectively over the last week</h3>
                <p class = text-center>(hover on slice for total number: if value is empty then there was no activity)</p>
            </div>
        
         <div class = "row">
            <div class="col-xs-12 col-sm-6 center-block" id="completed-weekly-chart" class="custom-chart">
            </div>
             <div class="col-xs-12 col-sm-6 center-block" id="ongoing-weekly-chart" class="custom-chart">
            </div>
        </div> 



{% endblock %}