@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
/*====General styles across all pages=======*/
body {
    margin: 0px;
    padding: 0px;
    background-color:  #dfe3ee;
}
.container-fluid {
    margin: 0px;
    padding: 0px;
}
/* General style for forms */
form {
    width: 50%;
}
/* General text styles for */
h1, h2, h3, h4, h5 {
    font-family: "Exo", sans-serif;
	font-weight: 500;
}
p {
    font-family: "Roboto", sans-serif;
	font-weight: 300;
}
.messages {
    background-color: #f7f7f7;
    font-size: 1.5em;
    font-weight: bold;
}
/* glyphicon styles */
.glyphicon-edit, .glyphicon-align-justify {
    color: red;
}
.glyphicon-comment {
    color: green;
}
.glyphicon-thumbs-up {
    color: blue;
}
/* General styles for buttons */
.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}
.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}
.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}
.btn-sm {
    border-radius: 25px;
}
.btn-secondary {
    background-color: cadetblue;
    color: white;
}
/* footer text */
.end-line {
    background-color: #3b5998;
    color: white;
    padding-top: 20px;
}
/*=== Base navbar stuyles ===*/
.navbar {
    border: none;
    margin: 0px;
}
.navbar-header {
     margin: 0px;
     background-color: #B0C4DE;
}
.navbar-default .navbar-toggle {
    border: none;
}
.navbar-default .navbar-collapse {
    background-color: #B0C4DE;
    border: none;
    padding: none;
}
.navbar-brand, .navbar-collapse, .navbar-header .container-fluid, .navbar-fixed{
    background-color:  #B0C4DE;
    color: black;
}
.navbar-brand {
    position: relative;
    background: url"{% static 'images/logoImg.jpg' %}" no-repeat scroll center center / contain;
}
.navbar-default .navbar-nav>.active>a {
     background-color: #8b9dc3;
}
.navbar-default .navbar-nav>li>a:hover {
    background-color: #E8E8E8;
    color: #3b5998;
}
.navbar .navbar-nav>li>a {
    margin: 0px;
    text-shadow: none;
    color: black;

}
.navbar-toggle .collapsed {
    background-color: black;
}


/* ==== Index page styles ==== */
.callout-container {
    background: url('../images/bitsbgArms.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
/* Jumbotron */
.jumbotron {
    background-color: transparent;
}
/* text in jumbotron */
#brand-name, .brand-text {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}
.jumbotron .lead {
    color: #5bc0de;
    font-weight: 500;
    margin: 25px 0;
}
/* Block dividers */
.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}
.block-divider--orange {
    background-color: #f05f40;
}
.block-divider--white {
    background-color: white;
}
.block-divider--short {
    width: 35px;
}
/* Existing and planned Features section styles */
/* section header text */
.commitment, .features {
    color: black;
}
.background-info, .our-promise {
    background-color: #f7f7f7;
}
.features, .personnel, .the-players, .staffing {
     background-color: #dfe3ee;
}
.media-object {
    background-color: white;
}
.glyphicon-gift, .current-features, .glyphicon-credit-card, .planned-features, .feature-header {
    color: Cadetblue;
}
.para-features {
    color: black ;
    font-size: 16px
}
/* === About page styles === */
.img-logo {
     display: block;
     margin: auto;
 }
.col-about, .bits-detail {
    background-color: #f7f7f7; 
 }
 /*Activities page general styles */
 .bug-stats, .feat-stats {
    background-color: #f7f7f7;  
 }
.activities-chart-section {
     background-color: #dfe3ee;
 }
.feature-section, .about-section {
    padding: 10px;
     margin-left: 0px;
     background-color: #f7f7f7;  
 }
 .shadow {
   text-shadow: 2px 2px lightblue;   
 }
 /*==== General style on Issues List page ===*/
 .tracker-header {
     background-color: #f7f7f7;  
}
/* issue list table styles */
.bordered thead > tr > td, tbody > tr > td{
  border:2px solid Gray;
}
/*==== General style on Issues detail page ===*/
.comment {
    margin: 20px 0px 20px 20px;
}
/* section background color styles */
.issue-comment-section {
    background-color: #f7f7f7;
}
/*cart_item panel styles*/
.cart_item {
    padding: 0px 10px 0px 10px;
}
/* cart icon styles */
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
/* badge background styles */
.label-warning[href],
.badge-warning[href] {
    background-color:  #c67605;
}
/* cart caption and panel styles*/
caption p {
    word-wrap: break-word;
}
.cart-feature {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.panel-default {
    border-color: transparent;
    padding: 0 10px;
}
.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}
.content_desc {
    min-height: 40px;
}
.chart-section {
    background-color: #f7f7f7;
}
/* documentation page styles */
/* documents page header styles*/
#wrapper-header {
    display: flex;
    background-color:  #dfe3ee;
    max-width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
}
#aside-logo {
    width: 30%;
}
.logo-img {
    background-color: #dfe3ee; 
    width: 100%;
	margin: auto;
}
.logo-img img {
  display: block;
   width: 100%;
   max-width: 150px; /*actual image width*/
   height: auto; /* maintain aspect ratio*/
   margin: auto; /*optional centering of image*/
}
.logo-text {
    background-color: #dfe3ee;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
#main-header {
    /*flex-grow: 1;*/
    width: 70%;
}
/* documents page contents styles*/
#content-wrapper {
    display:flex;
    background-color: #dfe3ee; 
    align-items: stretch;
    margin: 0;
    max-width: 100%;
    padding: 0px;
}
#contents-nav {
    width: 30%;
    padding: 0px;
}
#side {
    padding: 0px;
}
.side-nav {
    background-color: #dfe3ee;;
    width: 100%;
}
.contents {
    margin: 0;
}
#main-content {
    /*width: 70%;*/
    flex-grow: 1;
     background-color: #f7f7f7;
}

.side-nav a {
    text-decoration: none;
    color: #3b5998;;
}
.side-nav a:hover {
    text-decoration: underline;
    color: cadetblue;
}
.side-nav li {
    padding: 10px 0px 10px;
}
.side-nav ul {
    list-style: none;
    margin: 0;
}
/*blog post */
.blog-post {
    background-color: #f7f7f7;
}
.img-blogpost{
    height: 100px;
    width: auto;
    background-color: white;
}

/* stack image logo on header text in docs on smaller screens*/
@media all and (max-width: 800px) {

    #wrapper-header {
        flex-flow:column;
    }

    /* Make the sidebar take the entire width of the screen */

    #aside-logo {
        width:auto;
    }

}

/* stack contents nav-bar on contents text in docs on smaller screens*/
@media all and (max-width: 800px) {

    #content-wrapper {
        flex-flow:column;
    }

    /* Make the sidebar take the entire width of the screen */

    #contents-nav {
        width:auto;
    }

}

/*@media screen and (max-height: 450px) {*/
/*  .side-nav {padding-top: 15px;}*/
/*  .side-nav a {font-size: 18px;}*/
/*}*/