
body {
    margin:auto;
}/* General style for forms */
form {
    width: 50%;
}
/* footer text */
.end-line {
    background-color:  #B0C4DE;
    color: black;
    padding-top: 20px;
}
/* Base html nav bar style */
#navbar, .navbar-brand, .navbar-default, .container-fluid, body {
    background-color:  #B0C4DE;
}
/* glyphicon styles */
.glyphicon-edit, .glyphicon-align-justify {
    color: red;
}
.glyphicon-comment {
    color: green;
}
.glyphicon-thumbs-up {
    color: blue;
}
/* ==== Index page styles ==== */
.callout-container {
    height: 100vh;
    background: url('../images/bitsbgArms.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
/* Jumbotron */

.jumbotron {
    background-color: transparent;
}
/* text in jumbotron */
#brand-name, .brand-text {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}
.jumbotron .lead {
    /*color: GoldenRod;*/
    color: #5bc0de;
    margin: 25px 0;
}

/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange {
    background-color: #f05f40;
}
.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}
/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}
/* Existing and planned Features section styles */
/* section header text */
.commitment, .features {
    color: black;
}
.background-info, .our-promise {
   
    background-color: Beige;
}
.features, .personnel, .the-players, .staffing {
     background-color: DarkSalmon;
}
.media-object {
    background-color: white;
}
.glyphicon-gift, .current-features, .glyphicon-credit-card, .planned-features, .feature-header {
    color: white;
}
.para-features {
    color: DarkSlateGray ;
    font-size: 16px
}
/* === About page styles === */
.img-logo {
     display: block;
     margin: auto;
 }
 /*==== General style on Issues List page ===*/
 .tracker-header, .statistics-section, .add-ticket-top {
     background-color: Beige;
 }
.add-ticket-bot {
    background-color: DarkSalmon;
    padding: 0px;
}
/*==== Generral style on Issues detail page ===*/
.comment {
    margin: 20px 0px 20px 20px;
}
/* section background color styles */
.issue-comment-section {
    background-color: beige;
}
.tracker-issue-detail {
    background-color: DarkSalmon;
/* issue list table styles */
}
/*table.table-bordered > tr > td {*/
/*  border:3px ridge Gray;*/
/*}*/
.bordered thead > tr > td, tbody > tr > td{
  border:2px solid Gray;
}
/*cart_item panel styles*/
.cart_item {
    padding: 0px 10px 0px 10px;
}