@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*==== General styles across all pages ====*/
body {
    margin: 0px;
    padding: 0px;
    background-color: #dfe3ee;
}
.container-fluid {
    margin: 0px;
    padding: 0px;
}

/* General style for forms */
.form-detail {
      width: 75%;
}
.form-detail, .profile-detail {
    padding-left: 10px;
}

/* General text styles */
h1, h2, h3, h4, h5 {
    font-family: "Exo", sans-serif;
	font-weight: 500;
}
p {
    font-family: "Roboto", sans-serif;
	font-weight: 400;
}
/* glyphicon styles */
.glyphicon-gift, .glyphicon-credit-card {
    color: Cadetblue;
}
.glyphicon-edit, .glyphicon-align-justify {
    color: red;
}
.glyphicon-comment {
    color: orange;
}
.glyphicon-thumbs-up {
    color: blue;
    font-size: 15px;
}
.glyphicon-remove {
    color:crimson;
}
.glyphicon-ok {
    color: darkgreen;
}
/* General styles for buttons */
.btn--cta {
    font-weight: bold;
    border-radius: 25px;
    width: 150px;
}
.btn--info {
    color: white;
    background-color: darkblue;
    border-color: darkblue;
}
.btn--info:hover,
.btn--info:active,
.btn--info:focus,
.btn--info:active:focus {
    background-color: #7f7fff;
    border-color: #7f7fff;
    color: white;
}
.btn--blue {
    color: white;
    background-color: #3b5998;
    border-color: #3b5998;
}
.btn--blue:hover,
.btn--blue:active,
.btn--blue:focus,
.btn--blue:active:focus {
    background-color: #8b9dc3;
    border-color: #8b9dc3;
    color: white;
}

.btn-sm, .btn-lg, .btn-light, .btn-success, .cart-button {
    border-radius: 25px;
}
.home-button {
    height: 38px;
    width: 160px;
    color: white;
    background-color: #8b9dc3;
    border-color: #8b9dc3;
    border-radius: 25px;
}
.home-button:hover,
.home-button:active,
.home-button:focus
.home-button:active:focus {
    background-color: #178acc;;
    border-color: #178acc;;
    color: white;
}
.btn-secondary {
    background-color: cadetblue;
    color: white;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:active:focus {
    background-color: #4c7e80;
    border-color: #4c7e80;
    color: white;
}
.btn-light {
    background-color: #C0C0C0;
    color:black;
}
.btn-light:hover,
.btn-light:active,
.btn-light:focus,
.btn-light:active:focus {
    background-color: #808080;
    border-color: #383838;
    color: white;
}
.btn-dark {
    background-color: #93C572;
}
.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus,
.btn-dark:active:focus {
    background-color: #E9FFDB;
    border-color: #93C572;
}
.cart-button {
    height: 38px;
    width: 160px;
    color: black;
    background-color: white;
}
.cart-button:hover,
.cart-button:active,
.cart-button:focus,
.cart-button:active:focus {
    background-color: AliceBlue;
    border-color: AliceBlue;
}
/* footer text */
.end-line {
    background-color: #3b5998;
    color: white;
    padding-top: 20px;
}
/*=== Base html navbar styles ===*/
.container-fluid>.navbar-header, .container-fluid>.navbar-collapse, .navbar-nav {
    margin:0px;
}
.navbar {
    border: none;
    margin: 0px;
}
.navbar-header {
     margin: 0px;
     background-color: #B0C4DE;
}
.navbar-default .navbar-toggle {
    border: none;
}
.navbar-default .navbar-collapse {
    background-color: #B0C4DE;
    border: none;
    padding: 0px;
}
.navbar-brand {
    padding-top: 0px;
}
.navbar-brand, .navbar-collapse, .navbar-header .container-fluid, .navbar-fixed{
    background-color:  #B0C4DE;
    color: black;
}
.navbar-brand {
    position: relative;
    background: url"{% static 'images/logoImg.jpg' %}" no-repeat scroll center center / contain;
}
.navbar-default .navbar-nav>.active>a {
     background-color: #8b9dc3;
}
.navbar-default .navbar-nav>li>a:hover {
    background-color: #E8E8E8;
    color: #3b5998;
}
.navbar .navbar-nav>li>a {
    margin: 0px;
    text-shadow: none;
    color: black;
}
.navbar-toggle .collapsed {
    color: white;
}

/* ==== Index page styles ==== */
.callout-container {
    background: url('../images/bitsbgArms.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
/* Jumbotron */
.jumbotron {
    background-color: transparent;
}
/* text in jumbotron */
#brand-name, .brand-text {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}
.jumbotron .lead {
    color: #5bc0de;
    font-weight: 500;
    margin: 25px 0;
}
.minor-lead {
    font-size: 16px;
    font-weight: 500;
    color:  #5bc0de;
}
/* Block dividers */
.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}
.block-divider--orange {
    background-color: #f05f40;
}
.block-divider--white {
    background-color: white;
}
.block-divider--short {
    width: 35px;
}
/* Existing and planned Features section styles */
/* section header text */
.commitment, .feature-header {
    color: black;
}
.background-info, .our-promise {
    background-color: #f7f7f7;
}
.features, .personnel, .the-players, .staffing {
     background-color: #dfe3ee;
}
.media-object {
    background-color: white;
}
/* override bootstrap negative margins */
#feature-summary {
    margin: 0px;
}
/* features list text style */
.current-features, .planned-features {
    color: Cadetblue;
}
.para-features {
    color: black ;
    font-size: 16px;
    padding-bottom: 15px;
}
/* ==== About page styles ==== */
.about-header, .team-header {
    color: black;
}
.img-logo {
     display: block;
     margin: auto;
}
 .narrative1 {
     font-weight: 400;
     font-size: 14px;
}
  .narrative2 {
     font-weight: 400;
     font-size: 16px;
}
 .beetle {
     margin-top: 25px;
}
.col-about, .bits-detail {
    background-color: #f7f7f7; 
}
.bits-detail {
     padding-left: 15px;
     padding-right: 15px;
}
.feature-section, .about-section {
    padding: 10px;
     margin-left: 0px;
     background-color: #f7f7f7;  
}
.shadow {
   text-shadow: 2px 2px lightblue;   
   font-size: 15px;
}
.media-left {
    padding-left: 5px;
     padding-right: 5px;
}
.about-img {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
 /* ==== Activities page general styles ==== */
.statistics-section {
    background-color: #f7f7f7;  
}
.activities-chart-section {
     background-color: #dfe3ee;
}
.bug-head, .feature-head {
     color: black;
}

 /* piechart text in bug and feature charts */
#feature-chart text, #bug-chart text {
    fill: black;
}
/* overwrite bootstrap negative margins */
.bug-activities, .feat-activities {
    margin: 0px;
     padding-bottom: 25px;
}
.signup-butt, .read-butt {
    margin: 0px;
    padding-bottom: 20px;
}
#bug-chart, #feature-chart, #feature-bug {
    padding-bottom: 15px;
    padding-top: 15px;
}
 /*==== General style on Issues List page ====*/
 .search-form {
     width: 100%;
}
 .search {
     width: 150px;
}
 .tracker-header {
     background-color: #f7f7f7;  
}
/* issue list table styles */
.bordered thead > tr > td, tbody > tr > td{
  border:2px solid Gray;
}
/*==== General style on Issues detail page ===*/
.comment {
    margin: 0px 0px 0px 20px;
}
/* section background color styles */
.issue-comment-section {
    background-color: #dfe3ee;
}
.item-content {
    padding-left: 15px;
    color: black;
}
.pub_date {
    padding-left: 0px;
}
.comment-author {
    color: black;
}
/* set styles on feature upvote form */
.upvoting {
    height:auto; 
    margin:0 auto; 
}
.upvote-form {
    width:60%; 
    margin:0 auto;
    text-align:center;
}

/*==== Style on chart page ===*/
.chart-section {
    background-color: #f7f7f7;
}
 /* text style within charts on charts page */
#fee-pie-chart text, #completed-weekly-chart text, #ongoing-weekly-chart text, #completed-monthly-chart text, #ongoing-monthly-chart text {
    fill: black;
}
#completed-weekly-chart, #ongoing-weekly-chart, #completed-monthly-chart, #ongoing-monthly-chart {
    padding-bottom: 15px;
    padding-top: 15px;
}
/* documentation page styles */
/* documents page header styles*/
#wrapper-header {
    display: flex;
    background-color:  #dfe3ee;
    max-width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
}
#aside-logo {
    width: 30%;
}
.logo-img {
    background-color: #dfe3ee; 
    width: 100%;
	margin: auto;
}
.logo-img img {
  display: block;
   width: 100%;
   max-width: 150px; /*actual image width*/
   height: auto; /* maintain aspect ratio*/
   margin: auto; /*optional centering of image*/
}
.logo-text {
    background-color: #dfe3ee;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
#main-header {
    /*flex-grow: 1;*/
    width: 70%;
}
/* documents page contents styles*/
#content-wrapper {
    display:flex;
    background-color: #dfe3ee; 
    align-items: stretch;
    margin: 0;
    max-width: 100%;
    padding: 0px;
}
#contents-nav {
    width: 30%;
    padding: 0px;
}
#side {
    padding: 0px;
}
.side-nav {
    background-color: #dfe3ee;;
    width: 100%;
}
.contents {
    margin: 0;
    padding-left: 5px;
}
.doc-header {
    color: black;
}
#main-content {
    /*width: 70%;*/
    flex-grow: 1;
     background-color: #f7f7f7;
}

.side-nav a {
    text-decoration: none;
    color: #3b5998;;
}
.side-nav a:hover {
    text-decoration: underline;
    color: cadetblue;
}
.side-nav li {
    padding: 10px 0px 10px;
}
.side-nav ul {
    list-style: none;
    margin: 0;
}
/*blog post */
.blog-post, .post-content {
    background-color: #f7f7f7;
    margin: 0px;
}
.img-blogpost{
    height: 100px;
    width: auto;
    background-color: white;
}
.post-divider {
    margin: 0px;
}
/* blog comment avatar image styles */
.avatar-image {
    background-color: white;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50%;
}
.inline {
    display: inline-block;
}
/* blog page styles */
.post-comment-header {
    padding-left: 15px;
}
.total-post-comments {
    padding-left: 15px;
}
.spacer {
    margin-bottom: 10px;
}

/* profile page styles */
.profile-detail {
    background-color:  #f7f7f7;
}
/*==== Style on cart item panel ===*/

/* badge styles */
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background-color:  orange;
}

/* cart caption and panel styles*/
caption p {
    word-wrap: break-word;
}
.cart-feature {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.panel-default {
    border-color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
}
.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}
.content_desc {
    min-height: 40px;
}
.form-inline {
    width: 100%;
}
.form-input {
    padding-left: 15px;
    padding-right: 15px;
}
.btn-amend {
    height: 38px;
}
.input-group .form-control { 
    margin-bottom: -15px;
}

/* stack image logo on header text in docs on smaller screens*/
@media all and (max-width: 700px) {

    #wrapper-header {
        flex-flow:column;
    }

    /* Make the sidebar take the entire width of the screen */

    #aside-logo {
        width:auto;
    }

}

/* stack contents nav-bar on contents text in docs on smaller screens*/
@media all and (max-width: 700px) {

    #content-wrapper {
        flex-flow:column;
    }

    /* Make the sidebar take the entire width of the screen */

    #contents-nav {
        width:auto;
    }
}
/* Limit form width to 50% on larger screens*/
@media screen and (min-width: 760px) {
    form {
          width: 50%;
    }
}
/* hide horixontal scroll bar on laptop and desktop screens*/
@media screen and (min-width: 1025px) {
    .table-responsive {
          overflow-x: hidden;
    }
}
/* shorten width of upvote box on larger screens*/
@media screen and (min-width: 1025px) {
.upvote-form {
    width:40%; 
    margin:0 auto;
    text-align:center;
    }
}
