{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}Log in Page{% endblock %}
{% block page_heading %}User Login{% endblock %}  
{% block content %}
<h2 class = "form-detail">Enter login details below</h2>
<div class = "row container">
    <div class = "col-sm-6">
        <form method="POST" class = "form-detail">
             <!--use the cross site request forgery django function to prevent cross site scripting-->
            {% csrf_token %}
            {{ login_form | as_bootstrap }}
            <button type="submit" class="btn btn-light">Submit</button>
        </form>
    </div>
    <div class="col-sm-12 col-xs-12 text-center">
        <a href="{% url 'issues_list' %}" class="btn btn-sm btn btn-info"><span class="glyphicon glyphicon-arrow-left" aria-hidden ="true"></span> Back To Tracker</a>
    </div>
</div>
 <p></p>
{% endblock %}
