{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<div class="row container-fluid row-flex">
    {% for part in cart_items %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
        <div class="panel-body">
            <div class="caption">
                <h2>{{ part.item.name }}</h2>
                <p class = "content_desc">{{ part.item.content|truncatewords:5 }}</p>
                <p>Price per upvote: <span class="glyphicon glyphicon-euro text-center" aria-hidden="true"></span> {{ part.item.price }}</p>
                <p>Total Fee for upvotes: <span class="glyphicon glyphicon-euro" aria-hidden="true"></span> {{ part.fee }}</p>
                <p>
            <!--allow adjustment to upvotes-->
                    <form class="form-inline" method="post" action="{% url 'adjust_cart' part.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputAmount" class="sr-only">New Upvote</label>
                            <div class="input-group">
                                <div class="input-group-addon">Upvote</div>
                                <input name="upvote" type="number" value = "0" min="0" max="999" class="form-input form-control">
                                <div class="input-group-addon">{{part.upvote}} </div>
                                <button type="submit" class="btn-amend btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Amend</button>
                            </div>
                        </div>
                    </form>
                        <p></p>
                        <p> To adjust uppvote click in the box, enter a value and click amend</p>
                        <p>To delete upvote click in box, reset value back to 0 and click amend</p>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<p></p>
<div class="row container-fluid">
    <p class = "text-center">Total value of upvotes in cart</p>
    <p class = "text-center"><span class="glyphicon glyphicon-euro" aria-hidden="true"></span><strong>{{ total }}</strong></p>
     <div class="col-xs-2  text-center">
        <a href="{% url 'issues_list' %}" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back To Tracker</a>
    </div>
    <div class="col-xs-2 col-xs-offset-3 text-center">
        {% if total == 0 %}
        <p></p>
        {% else %}
        <a href="{% url 'checkout' %}" class="btn btn-sm btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Checkout</a>
        {% endif %}
    </div>
    
</div>
<p></p>

{% endblock %}