<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--placeholder for page titles-->
    <title>{% block page_title %}Issue Tracker{% endblock %}</title>
    
    <!-- Latest minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.min.css" />
	<!--custom stylesheet-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    
     
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
     <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--graph related script files-->
    <script type="text/javascript" src="{% static 'js/d3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/crossfilter.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dc.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/queue.js' %}"></script>
    {% block head_js %}
    {% endblock head_js %}
</head>
<body>
    <!-- Fixed masthead -->
    <nav class="navbar navbar-masthead navbar-default sticky-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <a href="/" class="navbar-brand"><img class = "logoimg text-center" src="{% static 'images/logoImg.jpg' %}"></img>
                    </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                 <ul class="nav navbar-nav">
                    <li class = "active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href ="{% url 'activities' %}">View Activities</a></li>
                     {% if user.is_authenticated %}
                     <li><a href="{% url 'issues_list' %}">View Tracker</a></li>{% else %}
                     {% endif %}
                     {% if user.is_authenticated %}
                     <li><a href="{% url 'add' %}">Create an Item</a></li>{% else %}
                     {% endif %}
                     {% if user.is_authenticated %}
                     <li><a href="{% url 'charts' %}">View Charts</a></li>{% else %}
                     {% endif %}
                     <li><a href="{% url 'documentation' %}">Docs</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                     <li><a href="{% url 'get_posts' %}">View Blog</a></li>{% else %}
                     {% endif %}
                     {% if user.is_authenticated %}
                     <li><a href="{% url 'new_post' %}">New Blog</a></li>{% else %}
                     {% endif %}
                     {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a></li>
                     {% else %}
                        <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Login</a></li>
                        <li><a href="{% url 'registration' %}"><i class="fa fa-user-plus"></i> Register</a></li>
                    {% endif %}    
                        <li>
                    {% if user.is_authenticated %}
                        <a href="{% url 'view_cart' %}">
                            <i class="fa fa-shopping-cart"></i> Cart
                            {% if item_count > 0 %}
                            <label class="badge badge-warning">{{ item_count }}</label>
                            {% endif %}
                    {% endif %}
                        </a>
                    </li>
                </ul>
            </div>   
        </div>       
    </nav>
    
    {% if messages %}
    <div class = "row messages text-primary">
        <div class = "col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4">
        {% for message in messages %} {{ message }} {% endfor %}
        </div>
    </div>
    {% endif %} 
        {% block content %}{% endblock %}
     <footer>
        <div class="col-sm-12 end-line text-center">
            <p>Made by Code Institute Bootcamper the_weaver &#169 2018</p>
        </div>
    </footer>
    
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
</script>

</body>
</html>